# flyctl launch added from .gitignore
**/.lsp
**/.clj-kondo
**/.calva
**/bootleg
**/*.tgz
**/.babashka
**/*.db-journal
mergestat
libmergestat.so
**/.venv
**/.vscode
# Local Netlify folder
**/.netlify

# flyctl launch added from .venv/.gitignore
# created by virtualenv automatically
.venv/**/*
fly.toml

LICENCE

README.md
