.lsp
.clj-kondo
.calva
bootleg
*.tgz
.babashka
*.html
*.db
*.db-journal
*.pdf

# Binaries
/mergestat
/libmergestat.so
curl-impersonate-*

# VSCode
.venv
.vscode

# Local Netlify folder
.netlify

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
