version: '3'
services:
  app:
    build:
      context: .
      dockerfile: ./dev.Dockerfile
    container_name: lacuna-db-dev-app
    restart: always
    ports:
      - 8001:8001
    volumes:
      - ../data:/data
      - ../app:/app
