name: Deploy Datasette

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docker/**'
      - 'data/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: '1.2.2'
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Setup Babashka
        uses: turtlequeue/setup-babashka@v1.5.2
        with:
          babashka-version: 1.3.186
      - name: Cache db
        id: cache-db
        uses: actions/cache@v3
        with:
          path: ./data/data.db
          key: cache-${{ hashFiles('input/**') }}-${{ hashFiles('scripts/**') }}
      - name: Generate db
        run: bb --main scripts.build-db
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --wait-timeout 1200
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}